# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# System
.DS_Store
*.pem

# Environment
.env*.local

# Build
*.tsbuildinfo

# Example code
app-example/
/ios
/android

# Large assets (adjust as needed)
*.mp4
*.zip
*.tar

# Raw assets if they're large
assets/raw/
